
.mainContainer{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 100%;
    justify-content: center;
    background-color: #262626;
    padding: 20px;
}
.container-head{
    width: 100%;
    padding-left: 90px;
    height: auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.container p{
    position:static;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50;
    margin-bottom: 10px;
}
.subtitle[name="captcha"]{
    margin-top:10px
}
.subtitle{
    position: fixed;
    text-decoration: none;
    color: #7d2ae8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    margin-top: -10px;
}
.error{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: red;
}
.container button{
    border-width: 0;
    width: 305px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#7d2ae8;
    color: white;
    font-weight: 600;
}
.captcha_container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.captcha-content{
    width: 100%;
    height: auto;
    display: block;
}
.captcha-content img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
input[name = "vercode"]{
    margin-top: 10px;
    margin-bottom: 0;
    width: auto;
    height: 25px;
}
input{
    margin-top: 0;
    margin-bottom: 20px;
    width: 300px;
    height: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1A1A1A;
}
.container li{
    position:static;
    list-style-type: none;
    margin-left: -40px;
}
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 500;
    position: static;
    margin-bottom: 0;
    padding-bottom: 0;
}
h2{
    display: block;
    position: static;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 500;
    position: static;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200;
    position: static;
    margin-top: 5px;


}

